<h1>Crowdfunder</h1>

<p><%= link_to "Browse All Projects", projects_url %></p>

<p>Featured Projects</p>
<br>
<% @featured = Project.find(rand(51...100)) %>
<p><%= link_to @featured.name, project_url(@featured) %></p>
<p><%= (@featured.description).capitalize + "." %></p>
<p><%= @featured.funding_goal %></p>
<br>
