<h1>Browse Projects</h1>



<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>

<%= render @projects %>

<% end %>

